<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ config.title }}</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <a class="page-link" href="/">Accueil</a>
            <a href="https://tune-zitoune.gitlab.io/tunezitoune/" target="_blank" class="page-link">Tune Zitoune</a>
            <a href="#" class="page-link">Documentation - Manuel</a>
            <a href="https://sonar.gllmr.fr/" target="_blank" class="page-link">L'agenda Sonar</a>
        </nav>
    </header>
  <main class="container">
    <h1>{{ config.title}}</h1>
    <section class="section">
        <div>
            {% block content %} {% endblock %}
        </div>
    </section>
  </main>
    <footer>
        <p>&copy; 2025 - Useless-Archives.com</p>
    </footer>
</body>
</html>